/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 89%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  font-family: 'Times New Roman', Times, serif !important;
};

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* End of Default CSS */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #fff;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.4s ease;
}

/* .navbar.scrolled {
  background-color: rgb(45, 243, 243);
} */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.logo-container {
  margin-right: 1rem;
}

.logo-image {
  width: 170px;
  height: 5.8rem;
  margin-left: -4rem;
  margin-top: 1.2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: rgb(29, 194, 194);
  text-decoration: none;
  padding: 1.7rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: color 0.5s ease;
  font-family: 'Times New Roman', Times, serif;
}

.nav-links a:hover {
  color: #000;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 6px 0;
  transition: 0.4s;
}

/* Hero Section */
.hero-section {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.959), rgba(0, 0, 0, 0.911));
}


  .slideshow-container {
    display: flex;
    transition: transform 2s ease-in-out;
  }
  
  .slideshow-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

.slide.active {
  opacity: 0.6;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  font-size: 2.5rem;
  position: absolute;
  top: 40%;
  left: 3%;
  text-align: center;
  z-index: 1;
  font-family: sans-serif;
  color: #fff;
}

.hero-text h1 {
  font-size: 5.5rem;
  margin-top: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

/* BannerSection */
.custom-banner-section {
  height: 70vh;

  justify-content: center;
  align-items: center;
  width: 500px; 

}

.custom-slideshow {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: auto;
}

.custom-slide {
  transition: opacity 1s ease-in-out;
  width: auto;
  opacity: 0;
  position: absolute;
}

.custom-slide p {
  height: 40vh;
  background: linear-gradient(rgba(29, 194, 194, 0.938), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(29, 194, 194, 0.938));
  color: #333;
  padding: 20px;
  border-radius: 2rem;

}

.custom-slide.custom-active {
  opacity: 1;
}

.custom-card p {
  padding-top: 3em;
  line-height: 1.5rem;
}

.custom-card  h2{
  display: flex;
  font-size: 2.5rem;
  color: #aaa;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1.6rem;
  margin-top: 4rem;
}


/* .custom-slide button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
} 

.custom-dot-container {
  position: absolute; 
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.custom-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.custom-dot.custom-active {
  background-color: #000;
} */

/* VideoSection.css */

.video-section {
  height: auto;
  text-align: center;
  margin-top: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.video-section h2{
  font-size: 3rem;
  color: #aaa;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1.7rem;
  margin-top: 3rem;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video-card {
  width: 300px;
  margin: 9px;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playing {
  filter: grayscale(0%);
}

/* AboutSection.css */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.about-card {
  background: linear-gradient(rgba(0, 0, 0, 0.938), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.938));
  padding: 20px;
  text-align: center;
  max-width: 1050px;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.about-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 1.6rem; 
  font-family: 'Times New Roman', Times, serif;
}

.about-text {
  font-size: 16px;
  color: #333; 
  margin-bottom: 15px;
  line-height: 1.7rem;
}