/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 89%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  font-family: 'Times New Roman', Times, serif !important;
};

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* End of Default CSS */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #fff;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.4s ease;
}

/* .navbar.scrolled {
  background-color: rgb(45, 243, 243);
} */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.logo-container {
  margin-right: 1rem;
}

.logo-image {
  width: 170px;
  height: 5.8rem;
  margin-left: -4rem;
  margin-top: 1.2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: rgb(29, 194, 194);
  text-decoration: none;
  padding: 1.7rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: color 0.5s ease;
  font-family: 'Times New Roman', Times, serif;
}

.nav-links a:hover {
  color: #000;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 6px 0;
  transition: 0.4s;
}

/* Hero Section */
.hero-section {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 28, 46, 0.808), rgba(0, 42, 49, 0.856));
  /*background: linear-gradient(rgba(0, 0, 0, 0.959), rgba(0, 0, 0, 0.911)); */
}


  .slideshow-container {
    display: flex;
    transition: transform 2s ease-in-out;
  }
  
  .slideshow-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

.slide.active {
  opacity: 0.5;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  font-size: 2.5rem;
  position: absolute;
  top: 40%;
  left: 3%;
  text-align: center;
  z-index: 1;
  font-family: sans-serif;
  color: #fff;
}

.hero-text h1 {
  font-size: 5.5rem;
  margin-top: -2rem;
  font-family: 'Times New Roman', Times, serif;
}

.hero-button {
  padding: 10px 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color:  rgb(245, 42, 42); 
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 45px;
  transition: background-color 0.3s ease;
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    30% 95%,
    0 100%,
    0 0,
    23% 5%
  );
}

.hero-button:hover {
  background-color: #aaa;
}


/* BannerSection.css */

.banner-section {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.banner-card {
  margin-top: 4.5rem;
  padding: 20px;
  background: linear-gradient(
    rgba(29, 194, 194, 0.938),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(29, 194, 194, 0.938)
  );
}

.banner-heading{
  font-size: 3rem;
  font-weight: bold;
  color: rgba(29, 194, 194, 0.938);
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}

.banner-card p {
  margin-bottom: 2rem;
  font-size: 14px;
  color: #333;
  line-height: 1.9rem;
}


/* VideoSection.css */

.video-section {
  height: auto;
  text-align: center;
  margin-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.video-section h2 {
  font-size: 3rem;
  color: #aaa;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1.7rem;
  margin-top: 5rem;
  text-decoration: underline;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;
}

.floating-background{
  width: 500px;
  height: 445px;
  /*background-color: rgba(77, 69, 69, 0.13);*/
  background-color:  rgba(29, 194, 194, 0.11);
  position: absolute;
  margin-top: 2rem;
  border-radius: 20%;
  animation: rotate 10s infinite;
  }
  
  .floating-background::before{
    content: "";
    width: 100%;
    height: 95%;
    background-color:  rgba(29, 194, 194, 0.11);
    /*background-color: rgba(77, 69, 69, 0.055);*/
    position: absolute;
    left: -5%;
    border-radius: 20%;
    animation: rotate 10s infinite;
  }

  @keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}


.video-card {
  width: 290px; 
  height: 220px; 
  margin: 6px;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.281); 
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-info {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.video-info h3 a {
  color: #444;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: 0.9rem;
}

.playing {
  filter: grayscale(0%);
}

/* AboutSection.css */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.about-card {
  /* background: linear-gradient(rgba(0, 0, 0, 0.938), rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.938)); */
  background: linear-gradient(
    rgba(29, 194, 194, 0.938),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(29, 194, 194, 0.938)
  );
  padding: 20px;
  text-align: center;
  margin-top:6rem;
  margin-bottom: 1rem;
}

.about-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  font-family: 'Times New Roman', Times, serif;
}

.about-text {
  font-size: 14px;
  color: #333; 
  margin-bottom: 18px;
  line-height: 1.7rem;
}

/* Photo-Section*/
.photo-section {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
  padding: 0 1.5rem; 
  /*
  background-color: rgba(77, 69, 69, 0.11);
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    30% 95%,
    0 100%,
    0 0,
    23% 5%
  ); */
}

.photo-box {
  flex: 1;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.first-photo {
  height: 264px;
  width: 330px;
  margin-right: 1px;
  border-radius: 19px 0 0 19px ;
}

.small-photos-container {
  display: flex;
  flex-direction: column; 
}

.photo-box img:not(.first-photo) {
  height: 88px;
  width: 150px;
  margin-bottom: 1px; 
}

/* Hides the left photo box initially */
.left-hidden .photo-box:nth-child(1) {
  display: none;
}


/* Adjust layout for smaller screens 
@media (max-width: 768px) {
  .photo-section {
    flex-direction: column;
  }
  
  .left-hidden .photo-box:nth-child(1) {
    display: flex;
  }

  .photo-box {
    flex: unset;
  }
}
*/

/* FindBranch*/
.find-branch-container {
  text-align: center;
  background-color: rgba(77, 69, 69, 0.11);
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    30% 95%,
    0 100%,
    0 0,
    23% 5%
  );
}

.find-branch-text {
  font-size: 35px;
  margin-top: -1rem;
  margin-bottom: -1.5rem;
  padding-top: 2.2rem;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.find-branch-button {
  padding: 7px 14px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color:  rgba(235, 16, 16, 0.671); 
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    30% 95%,
    0 100%,
    0 0,
    23% 5%
  );
}

.find-branch-button:hover {
  background-color: #000; 
}


.branch-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.branch-details-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 100%;
  overflow: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 3.5rem;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color:  rgb(0, 0, 0);
}

.close-button:hover {
  color: red;
}

.branch-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.branch-item {
  text-align: center;
}

.branch-item img {
  width: 100%;
  height: 25vh;
  max-width: 200px;
  border-radius: 3px;
}

.heading {
  font-size: 4rem;
  margin-top: 10px;
  margin-bottom: 45px;
  color: #aaa;
  font-family: 'Times New Roman', Times, serif;
}

.branch-item h3 {
  margin-top: 10px;
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
}

.branch-item p {
  margin-top: 10px;
}

/* Salvation */

.salvation-section {
  text-align: center;
  margin-top: 90px;
  margin-bottom: -0.8rem;
  background-color: rgba(77, 69, 69, 0.11);
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    30% 95%,
    0 100%,
    0 0,
    23% 5%
  );
}

.salvation-section h2 {
  font-size: 35px;
  color: #333;
  padding-top: 1.9rem;
  margin-bottom: .9rem;
  font-family: 'Times New Roman', Times, serif;
}

.salvation-page {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.salvation-page p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.yes-button {
  padding: 6px 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  background-color:  rgba(235, 16, 16, 0.76); 
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    30% 95%,
    0 100%,
    0 0,
    23% 5%
  );
}

.yes-button:hover {
  background-color: #000; 
}

.back-button {
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
  background-color: #ccc;
}

/* Events */
.event-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; 
}

.card {
  position: relative;
  width: 750px; 
  height: 400px; 
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 5rem 0 5rem 0;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  color: #000;
  font-size: 18px;
  padding: 6px;  
  border-radius: 5rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.9);
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

